.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.subtitle {
  font-size: 2rem;
}

.ul {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  justify-content: center;
  margin-inline: auto;
  max-width: 912px;
  padding: var(--padding);
  width: 100%;
}

.li {
  cursor: pointer;
  transition: transform var(--transition-fast);
}

.li:hover {
  transform: scale(1.2) translateY(-0.5rem);
}

.techLink {
  align-items: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
}

.techLogo {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.techName {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

@media (width <= 768px) {
  .ul {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  }

  .techName {
    font-size: 1rem;
  }
}

@media (width <= 500px) {
  .subtitle {
    font-size: 1.2rem;
  }

  .ul {
    grid-template-columns: repeat(2, minmax(60px, 90px));
  }

  .techName {
    font-size: 0.8rem;
  }
}

@media (width <= 325px) {
  .subtitle {
    font-size: 1rem;
  }

  .ul {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
}