.skills {
  scroll-margin-top: var(--header-height);
}

.title {
  padding: var(--padding);
  text-align: center;
}

.ul {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, 5rem);
  justify-content: center;
  margin-bottom: 2rem;
  margin-inline: auto;
  max-width: 912px;
  padding: var(--padding);
}

.li {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  gap: 0.5rem;
}

.tech {
  height: 5rem;
  width: 5rem;
}