.aboutContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.myPhoto {
  border: 5px solid var(--cl);
  border-radius: 50%;
  margin-bottom: 2rem;
  max-width: 300px;
  transition: 300ms ease-in-out;
  width: 100%;
}

.name {
  font-size: 2rem;
}

.jobContainer {
  display: flex;
  gap: 1rem;
}

.job {
  font-size: 3rem;
}

.description {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
  max-width: 610px;
}

@media (width <= 650px) {
  .jobContainer {
    flex-direction: column;
    gap: 0;
  }
}

@media (width <= 425px) {
  .name {
    font-size: 1.3rem;
  }

  .job {
    font-size: 2rem;
  }
}